@import url(../css/home.css);

.titulo{
    backdrop-filter: blur(30px);
    font-size: 50px;
    border-radius: 30px;
    font-weight: bold;
    text-align: center;
}

div#form_fundo{
    margin: 2% 50% 5% 5%;
    position: absolute;
}

div#form_fundo.lista_usuarios{
    margin: 2% 1% 5% 51%;
    width: 600px;
}

div#form_frente.lista_usuarios{
    text-align: left;
    font-size: bold;
    font-size: 14px;
    overflow-y: scroll;
    height: 225px;
    width: 525px;
}

#buttonExcluir{
    font-size: 13px;
    margin-left: 30px;
}

div.flash_alerta{
    background-color: green;
}

div#form_fundo.upload{
    margin-top: 450px;
    margin-left: 320px;
}
